extends layout

block variables
  - var title = "Dashboard"

block content
  div.container-fluid(style=" position: relative; width: 100%; height: 100%;background: url(https://picsum.photos/1200/800?image=575) center center / cover no-repeat;")
    .row.pt-5
      .offset-sm-2.col-sm-8
        .jumbotron.text-center.img-dashboard Welcome
        
    .row
        a.offset-sm-2.col-sm-8.btn.btn-primary.btn-large(href="mailto:ujjwal26599@gmail.com?subject=subject") Please Help Us Expand Our Coummunity
        a.offset-sm-2.col-sm-8.btn.btn-primary.btn-large.mt-4(href="https://snehaindia.org/new/") Immediate HELP ? Dont Hesitate
        a.offset-sm-2.col-sm-8.btn.btn-primary.btn-large.mt-4(href="https://novni.com/write-anonymously") Want to Pen Your Mind Out Secretly?
        a.offset-sm-2.col-sm-8.btn.btn-primary.btn-large.mt-4(href="http://www.ferryhalim.com/orisinal/g3/casanova.html") A Game to Ease You Out   